{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Crear Habitacion
{% endblock %}

{% block content %}

    <div class="col-8">
        <br>
        <br>
        <h2>Nueva Habitacion</h2>

        <hr>

        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Crear" class="btn btn-primary mt-1">
            <a class="btn btn-danger mx-3 float-right mt-1" href="{% url 'habitacion_list' %}">Cancelar</a>
        </form>

    </div>

{% endblock %}
