{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Huespedes
{% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <h2>Huespedes
    <hr>

    <div class="float-right"><a class="btn btn-primary mx-3 float-right" href="{% url 'huesped_create' %}">Crear Huesped</a></div>
    </h2>


    <ul class="list-group">
        {% for huesped in object_list %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-4"> <strong>{{ huesped }} </strong> </div>
                        <div class="col-8 d-flex justify-content-end ">
                            <a class="mx-3 float-right btn btn-danger" href="{% url 'huesped_delete' huesped.numero_documento %}">Eliminar</a>
                            <a class="mx-3 float-right btn btn-primary" href="{% url 'huesped_update' huesped.numero_documento %}">Modificar</a>
                            <a class="mx-3 float-right btn btn-primary" href="{% url 'huesped_detail' huesped.numero_documento %}">Ver</a>
                        </div>
                </div>
            </li>
        {% endfor %}
        <div class="col-4">
            <br>
            <a class="btn btn-danger mx-3 float-right mt-1" href="{% url 'dashboard' %}">Atras</a>
        </div>
    </ul>
{% endblock %}