{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Reservas
{% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <h2>Reservas
    <hr>

    <div class="float-right"><a class="btn btn-primary mx-3 float-right" href="{% url 'reserva_create' %}">Crear Reserva</a></div>
    </h2>


    <ul class="list-group">
        {% for reserva in object_list %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-4"> <strong>{{ reserva }} </strong> </div>
                        <div class="col-8 d-flex justify-content-end ">
                    <a class="mx-3 float-right btn btn-danger" href="{% url 'reserva_delete' reserva.numero_reserva %}">Eliminar</a>
                    <a class="mx-3 float-right btn btn-primary" href="{% url 'reserva_update' reserva.numero_reserva %}">Modificar</a>
                    <a class="mx-3 float-right btn btn-primary" href="{% url 'reserva_detail' reserva.numero_reserva %}">Ver</a>
                </div>
                </div>
            </li>
        {% endfor %}
        <div class="col-4">
            <br>
            <a class="btn btn-danger mx-3 float-right mt-1" href="{% url 'dashboard' %}">Atras</a>
        </div>
    </ul>
{% endblock %}